# ignore testing file
testing.ipynb

# Ignore data files
*.bam
*.bai
*.fastq.gz
*.csv
*.tsv
*.pdf
*.txt
*.parquet

# Ignore output folders
insert_size_metrics/
insert_size_histograms/
combined_histogram/
summary_statistics/
.snakemake/
samtools_stats/
data/
nucleosome_distance/
binwise_fragment_length_distributions/